.home {
    .search {
        padding: 45px;
        text-align: center;
        
        .searchPut {
            width: 50%;
            height: 50px;
            border-radius: 3px;
            background: #8080802e;
            border: transparent;
            font-size: larger;
            border: 1px solid#CFD8DC;
        }
    }
}

